{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>
      {% block title %}
        kidlse
      {% endblock %}
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

    {% block styles %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    {% endblock %}
  </head>
  <body>
     <div class="navmenu navmenu-default navmenu-fixed-left">
      <a class="navmenu-brand" href="#">kidsle</a>
      Ergebnisse Filtern
      <ul class="nav navmenu-nav">
        Ergebnisse Filtern
        <li>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Obeschulen
            </label>
          </div>
        </li>
        <li>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Grundschulen
            </label>
          </div>
        </li>
        <li>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Gymansien
            </label>
          </div>
        </li>
      </ul>
      <div class="">
        Umkreis
      </div>

          <input id="distance-slider" data-slider-id='slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="14"/>
        <form class="navbar-form navbar-left">
            <input type="text" class="form-control" placeholder="Suchen...">
        </form>

    </div>

    <div class="canvas">

      <div class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
          Menu
        </button>
      </div>



      <div class="container">
        <div class="results">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <h1 class="">Nachbarschafts Schule</h1>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <h2 class="info">Beschreibung</h2>
                <p class="description">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
              </div>
              <div class="col-xs-12 col-md-6">
                <h2 class="info">Details</h2>
                  <ul>
                    <li>
                    <a href="#">Webseite</a>
                    </li>
                    <li>
                    <a href="#">Kommentare</a>
                    </li>
                    <li>
                    <a href="#">Bewertung</a><div class="rating-group"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="map"></div>

      </div><!-- /.container -->

    </div><!-- /.canvas  -->


    <!-- Google Maps API -->
    {% block js %}
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- Leaflet -->
    <script src="//cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>

    <script src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/geolocationmarker/src/geolocationmarker-compiled.js"></script>
    <script type="text/javascript" charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="src/js/custom.js"></script>
    <script type="text/javascript" charset="utf-8" src="src/js/bootstrap-slider.js"></script>
    <script type="text/javascript" charset="utf-8" src="src/js/map.js"></script>
    <script type="text/javascript" charset="utf-8" src="src/js/leaveme.js"></script>
    <script type="text/javascript" charset="utf-8" src="src/js/offcanvas.js"></script>
    <script type="text/javascript" charset="utf-8">
      $('#distance-slider').slider({
        formater: function(value) {
          return 'Current value: ' + value;
        }
      });

    </script>
    {% endblock %}
  </body>
</html>
