{% load compress %} {% load static from staticfiles %} {% load leaflet_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %} kidlse {% endblock %}
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

    {% block styles %}

    {% if debug %}
    <!-- This is the client-side way to compile less and an ok choice for local dev -->
    <link rel="stylesheet/less" type="text/css" media="all" href="{% static 'less/style.less' %}" />
    {% else %}
    {% compress css %}
    <!-- This is the nifty django-compressor way to compile your less files in css -->
    <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/style.less' %}" /> {% endcompress %}
    {% endif %}
    {% endblock %}
</head>

<body>
  {% include 'icons.svg' %}
    <div class="navmenu navmenu-default navmenu-fixed-left">
        <div class="navmenu-brand">
            <h1>Kids in Leipzig</h1>
        </div>

        <div class="filter">
            {% if 'daycare' in active_apps %}
            <button id="kit" type="button" class="btn btn-lg btn-primary btn-block">Kitas ausblenden</button>
            {% endif %}

            {% if 'playgrounds' in active_apps %}
            <button id="play" type="button" class="btn btn-lg btn-primary btn-block">Spielplätze ausblenden</button>
            {% endif %}

            {% if 'schools' in active_apps %}
            <button id="school" type="button" class="btn btn-lg btn-primary btn-block">Schulen ausblenden</button>
            {% endif %}
        </div>

        <div class="statics">
            <button id="contact" type="button" class="btn btn-lg btn-link btn-block">Kontakt</button>
            <button id="imprint" type="button" class="btn btn-lg btn-link btn-block">Impressum</button>
        </div>
    </div>

    <div class="canvas">
        <div class="navbar navbar-default navbar-fixed-top">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
                <svg class="icon-kid icon-sm ">
                            <use xlink:href="#icon-layer" />
                        </svg>
            </button>
            <button id="locate" type="button" class="navbar-toggle">
                <svg class="icon-kid icon-sm ">
                            <use xlink:href="#icon-locate" />
                        </svg>
            </button>
        </div>




        <div class="container">
            {% leaflet_map "map" callback="window.setUpMap" %}
        </div>
        <!-- /.container -->



    </div>
    <!-- /.canvas  -->

    <!-- Contact Modal -->
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="contactModal">Kontakt</h4>
                </div>
                <div class="modal-body">
                    {% include 'contact.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Imprint Modal -->
    <div class="modal fade" id="imprintModal" tabindex="-1" role="dialog" aria-labelledby="imprintModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="imprintModal">Impressum</h4>
                </div>
                <div class="modal-body">
                   {% include 'imprint.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                </div>
            </div>
        </div>
    </div>
    {% block js %}
    <!-- Leaflet -->
    {% leaflet_js %}
    <script type="text/javascript" charset="utf-8" src="{% static 'js/leaflet.markercluster.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% if debug %}
    <script type="text/javascript" charset="utf-8" src="{% static 'js/less-1.7.0.min.js' %}"></script>
    {% endif %}

    <script type="text/javascript" charset="utf-8">
    var daycarecenterIcon = '{% static "img/kita.svg" %}';
    var playgroundIcon = '{% static "img/playground3.svg" %}';
    var schoolIcon = '{% static "img/school.svg" %}';
    var posIcon = '{% static "img/marker-circle.svg" %}';

    var daycarecenterDataUrl = '{% url "daycarecenter-list" %}';
    var playgroundDataUrl = '{% url "playground-list" %}';
    var schoolDataUrl = '{% url "school-list" %}';

    var schoolsActive = {% if 'schools' in active_apps %}true{% else %}false{% endif %};
    var daycareActive = {% if 'daycare' in active_apps %}true{% else %}false{% endif %};
    var playgroundsActive = {% if 'playgrounds' in active_apps %}true{% else %}false{% endif %};
    </script>

    <script type="text/javascript" charset="utf-8" src="{% static 'js/leaveme.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'js/offcanvas.js' %}"></script>
    <script>
    (function($) {
        $('#contact').on('click', function() {
            $('#contactModal').modal('show');
        });
         $('#imprint').on('click', function() {
            $('#imprintModal').modal('show');
        });
    })(jQuery);
    </script>
    {% endblock %}
</body>

</html>
