.school{
  background-color: @school-color;
  color: #fff;
}

.kita{

}

.playground{

}

.header{
  background-color: @school-color;
  color: #fff;
}


.results{
  
  margin: 0 5% 1em 5%;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);

  ul {
    padding-left: -40px;

    li{
      list-style: none;
      border-bottom: 1px solid #ebebeb;
      padding: 1em 0 1em 0;

    }
  }
}


.rating-group{
  calor: red;
  display: inline;
  margin-left: 2em;

        span{
          margin-right: 2px;
          color: red;
        }
}
